<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Example 1.9</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="app">
	<h2>Male Cats</h2>
	<ul>
		<li v-for="cat in cats"
			v-if="cat.gender === 'male'">{{cat.name}}</li>
	</ul>

	<h2>Female Cats</h2>
	<ul>
		<li v-for="cat in cats"
			v-if="cat.gender === 'female'">{{cat.name}}</li>
	</ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
new Vue({
	el:'#app',
	data:{
		cats:[
			{"name":"Batman","gender":"male"},
			{"name":"Wonder Woman","gender":"female"},
			{"name":"Flash","gender":"male"},
			{"name":"King Shark","gender":"male"},
			{"name":"Scarlet Witch","gender":"female"},
		]
	}
});
</script>
</body>
</html>